body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background-color: goldenrod;
    color: #016F32;
    border: none;
    border-radius: 2px;
    padding: 5px;
    width: 150px;
    font-weight: bold;
    margin-bottom: 5px;
}
button:hover {
    border: 1px solid black;
}