* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: 1px solid #5f9341;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
}