* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
}
div {
    width: 100%;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color:darkgreen;
    color: white
}