body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin: 10px 0;
}

h2 {
    font-size: 50px;
    margin: 10px 0;
}

button {
    background-color:blanchedalmond;
    color: black;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}